<section class="hero-section">
    <h1>
        <span class="text-sm"></span>
        <span class="text-xl"></span>
    </h1>
    <!-- brief text like 15 > words   -->
    <p>
        ...
    </p>
    <a href="#">Learn more > </a>

    <!-- 11 > words -->
    <span>We are trusted by.....</span>
</section>

<section>
    <!-- 16 letter header -->
    <h1 class="section-header"></h1>
    <div>
        <!-- 12 - 20 words text -->
        <h1><span>...</span>...</h1>
    </div>
    <img src="../alexa-ai-robot"/>
    <div>
        <!-- 12 - 20 words text -->
    <h2>...</h2>
    <p>...</p>
    <button>...</button>
    </div>

    <div>
        <span></span>
        <p>Completed over ... projects...</p>
        <!-- 5 words text -->
        <span class="text-muted">...</span>
    </div>

    <div>
        <div>
            <!-- 12 - 19 words text -->
            <h1><span>...</span>....</h1>
            <a href="#"></a>
        </div>
        <div>
            <img href="#" class="electronics-image"/>
        </div>
    </div>
</section>

<section class="third-section">
    <!-- 16 letter header -->
    <h1 class="section-header"></h1>
    <div>
        <!-- 12 - 20 words text -->
        <h1><span class="color-white">...</span>...</h1>
    </div>
    <div>
        <div>
            <!-- 12 - 20 words text -->
            <h2><span>...</span>...</h2>
            <button>...</button>
        </div>

        <div>
            <img class="analytics-image"/>
        </div>
</section>

<section class="fourth-section">
    <!-- 16 letter header -->
    <h1 class="section-header"></h1>
    <div>
        <!-- 12-22 words text -->
        <h1><span>...</span>...</h1>
    </div>
    <div>
        <div>
            <!-- 11 - 20 words text -->
            <h2><span>...</span>...</h2>
            <button>...</button>
        </div>

        <div>
            <img class="os-code-image"/>
        </div>

        <div class="subsection">
            <!-- 16 - 15 letter header  -->
            <h1>...</h1>

            <!-- 11 - 20 words text -->
            <h2><span>...</span>...</h2>
            <button>...</button>
            

            <!-- 3 words text -->
            <span>short text</span>
            <h1>..% ....</h1>
            <!-- 5 words text -->
            <p>.........</p>
        </div>

        <div>
            <div>
                <!-- 11 - 20 words text  -->
                <h2><span>Our team</span>...</h2>
                <button>...</button>
            </div>
    
            <div>
                <img class="team-image"/>
            </div>
        </div>
</section>

<section class="last-section">
    <!-- 9 - 12 words header -->
    <h1>..</h1>

     <!-- 32 words text -->
    <p>...</p>
    <buton>....</buton>
</section>